.banner-login{
    min-height: 100vh;
    background: url('https://via.placeholder.com/1500x2000');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.input-group{
    padding-top: 10px;
}

.input-group i{
    margin-right: 10px;
}

.icon{
    margin-left: 77px;
    
}